<!--The whole content below can be removed with the new code.-->
<div class="container">
  <h1>{{title}}</h1>
  <p>
    <!--Any incomplete URLs or string that do not contain domains will be removed.-->
    <br>
    Duplicates will be removed.
  </p>
<!--</div>
<div class="container">-->

  <div class="row">

    <div class="col-md-4">
      <h2>Enter data:</h2>
      <form [formGroup]="domainForm" novalidate>
        <div class="form-group">
          <label>Domains</label>
          <textarea class="form-control" rows=8 formControlName="domains"></textarea>
        </div>
        <button type="button" class="btn btn-success" (click)="getParsedDomains()">GO!</button>
      </form>
    </div>

    <div class="col-md-4">
      <h2>Results ({{outputList.length}}):</h2>
      <p>&nbsp;</p>
      <button type="button" class="btn btn-secondary"
        (click)='copyToClipboard( outputListAsList(outputList) )'>
          Copy domains to clipboard (list for Excel)
      </button>
      <br>
      <br>
      <button type="button" class="btn btn-secondary"
        (click)='copyToClipboard( outputListAsStrings(outputList) )'>
          Copy domains to clipboard (list for scripts)
      </button>
      <table class="table-results">
        <tr *ngFor="let domain of outputList">
          <td>{{domain}}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <h2>Rejects ({{rejectedOutputList.length}}):</h2>
      <p>(probably not domains)</p>
      <button type="button" class="btn btn-secondary"
        (click)='copyToClipboard(outputListAsList(rejectedOutputList))'>
          Copy rejects to clipboard
      </button>
      <table class="table-results">
        <tr *ngFor="let reject of rejectedOutputList">
          <td>{{reject}}</td>
        </tr>
      </table>
    </div>

  </div>


</div>




<!-- 
http://pop.com popppp.com/posld
-->


