<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
</div>
  <div>
    <form [formGroup]="domainForm" novalidate>

      <div>
        <label>Domains</label>
        <input type="textarea" formControlName="domains">
        <small [hidden]="myForm.controls.domains.valid || (myForm.controls.domains.pristine && !submitted)">
            Domains are required.
        </small>
      </div>

      <button (click)="getParsedDomains()">GO!</button>
    </form>
  </div>

  <div>
    <table>
      <tr *ngFor="let domain of outputList">
        <td>{{domain}}</td>
      </tr>
    </table>
    
  </div>


